@charset "utf-8";

table {
  border-collapse:  collapse; /* セルの線を重ねる */
}

td {
  border: solid 1px;  /* 枠線指定 */
  padding: 3px;
}

img, video {
  height: 240px;
}

button {
  padding: 4px;
  margin: 2px;
  font-size: 16px;
}

.menu {
  height: 100px;
}

.inline-form {
    display: inline;          /* または inline-block */
    margin: 4px;
}

input {
    font-size: 18px;
    letter-spacing: 0.5px;  /* 少し文字間を広げる */
}

